<div id="rodape"></div>
<footer class="page-footer" id="footer">
  <div class="container">
    <hr>
    <div class="row valign-wrapper">
      <div class="col l6 m12 infos">
        <div class="row valign-wrapper">
          <div class="col xl5 hide-on-med-and-down ">
            <img class="responsive-img center-align" src="{{ url('theme://images/logo.png') }}" alt="">
          </div>
          <div class="col xl7 m12">
            <a class="btn-bordered icones" href="https://www.facebook.com/bizgamesITEC/" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
            <a class="btn-bordered icones" href="https://www.youtube.com/channel/UC13aHN0PxZ_nrPuyZ7hlGgg" target="_blank"><i class="fa fa-youtube" aria-hidden="true"></i></a>
            <a class="btn-bordered icones" href="https://github.com/bizgamesitec" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>
      <div class="col l6 m12 form right-align">
        <div id="frase" class="right-align">
          <h5>"Todos nesse país deveriam aprender a programar um computador, pois isso ensina a pensar."</h5>
          - Steve Jobs
        </div>
        <p><i class="fa fa-envelope" aria-hidden="true"></i> contato@bizgames.com.br</p>
      </div>
    </div>
    <div class="footer-copyright row">
        <div class="col m6 s12">
          &copy; {{ "now"|date("Y") }} - {{ config.site.title }}
        </div>
        <div class="col m6 s12 right-align">
          Desenvolvido por <a href="http://www.jnmoura.com.br/" target="_blank">Moura Informática</a>
        </div>
    </div>
  </div>
</footer>
