<section id="m-{{ page.header.title | hyphenize }}" class="row modular">
  <div class="parallax-container valign-wrapper">
    {{ content }}
    <div class="parallax"><div class="overlay"></div><img src="{{ page.media['parallax.jpg'].url }}"></div>
  </div>
</section>
